.allNav{
   background-color: black;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    width: 100%;
    z-index: 2;
    
}


.menu{
    width: 40%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.homebtn{
   
    text-decoration: none;
    color: #FFD361;
   
    font-family: "Nova Square";

}
.homebtn:hover{
    color: white;
    text-decoration: none;
    
    
    font-family: "Nova Square";

}
.btn{
    color: white;
    text-decoration: none;
    font-family: "Nova Square";
}
.btn:hover{
    color:#FFD361 ;
    text-decoration: none;
    font-family: "Nova Square";
    text-decoration: underline;
}

.logo{
    width: 20%;
    display: flex;
   
}
.imglogo{
    height: 100px;
    width: 150px;
}
.logotext{
    color: white;
    font-family: "Nova Square";
    }
      

.book{
    width: 40%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.reseux{
    width:30px;
    height:30px;
}
.reseux:hover{
   opacity: 70%;
}
.bookbtn{
    text-decoration: none;
    color: white;
    border: solid 1.5px #FFD361;
    padding :5px;
    border-radius:15px ;
    font-family: "Nova Square";

}
.bookbtn:hover{
    text-decoration: none;
    color:#FFD361;
    border: solid 1.5px #ffffff;
 

}