.bg-image-vertical {
    position: relative;
    overflow: hidden;
    background-repeat: no-repeat;
    background-position: right center;
   
    background-size: auto 100%;
    }
    .back{
        background-image: url('../img/logoin.png');
    }
    
    @media (min-width: 1025px) {
    .h-custom-2 {
    height: 100%;
    }
    }

  

   .heelocon{
    background-image: url('../img/back.jpg');
   }
   .input1{
    width: 40%;
   }
   .input2{
    width: 40%;
   }

   .input3{
    width: 48%;
   }
   .input4{
    width: 48%;
   }
