.Allreserv{
    background-color:white ;
   
}
.allCard{
display: flex;
justify-content: center;
align-items: center;
background-color: #caced2;
border: solid red 1px;
}
.CardAll{
    width: 60%;
    border: solid yellow 1px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
